.app-container {
  background-color: #fff !important;
  background-image: url('/img/bg-sp.png') !important;
  background-size: cover !important;
  background-position: top center !important;
  background-attachment: fixed !important;
}

.short-card {
  max-width: 500px;
  margin: 0 auto;
}
